<a href="https://colab.research.google.com/github/kushwahapriya878/DataPulseNetwork/blob/main/Retail_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# loading dataset
df= pd.read_csv('new_retail_data.csv')
df

,Transaction_ID,Customer_ID,Name,Email,Phone,Address,City,State,Zipcode,Country,...,Total_Amount,Product_Category,Product_Brand,Product_Type,Feedback,Shipping_Method,Payment_Method,Order_Status,Ratings,products
0,8691788.0,37249.0,Michelle Harrington,Ebony39@gmail.com,1.414787e+09,3959 Amanda Burgs,Dortmund,Berlin,77985.0,Germany,...,324.086270,Clothing,Nike,Shorts,Excellent,Same-Day,Debit Card,Shipped,5.0,Cycling shorts
1,2174773.0,69749.0,Kelsey Hill,Mark36@gmail.com,6.852900e+09,82072 Dawn Centers,Nottingham,England,99071.0,UK,...,806.707815,Electronics,Samsung,Tablet,Excellent,Standard,Credit Card,Processing,4.0,Lenovo Tab
2,6679610.0,30192.0,Scott Jensen,Shane85@gmail.com,8.362160e+09,4133 Young Canyon,Geelong,New South Wales,75929.0,Australia,...,1063.432799,Books,Penguin Books,Children's,Average,Same-Day,Credit Card,Processing,2.0,Sports equipment
3,7232460.0,62101.0,Joseph Miller,Mary34@gmail.com,2.776752e+09,8148 Thomas Creek Suite 100,Edmonton,Ontario,88420.0,Canada,...,2466.854021,Home Decor,Home Depot,Tools,Excellent,Standard,PayPal,Processing,4.0,Utility knife
4,4983775.0,27901.0,Debra Coleman,Charles30@gmail.com,9.098268e+09,5813 Lori Ports Suite 269,Bristol,England,48704.0,UK,...,248.553049,Grocery,Nestle,Chocolate,Bad,Standard,Cash,Shipped,1.0,Chocolate cookies
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7501,8734710.0,88233.0,Meghan Miller,Curtis17@gmail.com,6.017450e+09,9593 Mcintyre Ferry,Portsmouth,England,91012.0,UK,...,513.701582,Grocery,Nestle,Chocolate,Average,Standard,Credit Card,Processing,2.0,Milk chocolate
7502,2418273.0,96162.0,Leslie Williams,Debbie86@gmail.com,3.050529e+09,951 Melissa Via Apt. 793,Portsmouth,England,7401.0,UK,...,3140.108863,Grocery,Pepsi,Water,Excellent,Express,Debit Card,Delivered,5.0,Distilled water
7503,1203465.0,57753.0,Tammy Owens,Tina83@gmail.com,4.129650e+09,18207 Jackson Roads Apt. 383,Portsmouth,England,27384.0,UK,...,938.847254,Home Decor,Home Depot,Tools,Bad,Same-Day,Credit Card,Processing,1.0,Caulking gun
7504,9903325.0,95050.0,Jacob Parks,Lauren92@gmail.com,3.549955e+09,6075 Martinez Ports Apt. 914,Portsmouth,England,44290.0,UK,...,292.938382,Home Decor,IKEA,Decorations,Good,Express,Debit Card,Delivered,4.0,Mirrors
7505,2239384.0,16010.0,Seth Conner,Elizabeth60@gmail.com,2.878304e+09,808 Mitchell Square Apt. 872,Portsmouth,England,33930.0,UK,...,56.740887,Clothing,Adidas,Jacket,Average,Standard,Credit Card,Delivered,2.0,NaN

In [ ]:
df.shape

(26206, 30)

The dataset contains 302,010 entries and 30 columns with various types of information related to retail transactions. Here's a brief overview of some key columns:
*  Transaction_ID: Unique identifier for each transaction.
*  Customer_ID: Unique identifier for each customer.
Name, Email, Phone, Address, City, State, Zipcode, Country: Customer contact details.
*  Age, Gender, Income, Customer_Segment: Customer demographic information.
*  Date, Year, Month, Time: Transaction date and time details.
*  Total_Purchases, Amount, Total_Amount: Purchase and transaction amount details.
*  Product_Category, Product_Brand, Product_Type: Information about the products purchased.
*  Feedback, Shipping_Method, Payment_Method, Order_Status, Ratings, products: Transaction and product feedback details.

# **Exploratory Data Analysis**

In [ ]:
df.shape

(26206, 30)

In [ ]:
df.size

786180

In [ ]:
df.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26206 entries, 0 to 26205
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_ID    26181 non-null  float64
 1   Customer_ID       26171 non-null  float64
 2   Name              26184 non-null  object
 3   Email             26183 non-null  object
 4   Phone             26168 non-null  float64
 5   Address           26185 non-null  object
 6   City              26206 non-null  object
 7   State             26205 non-null  object
 8   Zipcode           26182 non-null  float64
 9   Country           26205 non-null  object
 10  Age               26202 non-null  float64
 11  Gender            26173 non-null  object
 12  Income            26205 non-null  object
 13  Customer_Segment  26205 non-null  object
 14  Date              26171 non-null  object
 15  Year              26175 non-null  float64
 16  Month             26159 non-null  object
 17  Time              26176 non-null  object
 18  Total_Purchases   26170 non-null  float64
 19  Amount            26180 non-null  float64
 20  Total_Amount      26171 non-null  float64
 21  Product_Category  26175 non-null  object
 22  Product_Brand     26184 non-null  object
 23  Product_Type      26205 non-null  object
 24  Feedback          26177 non-null  object
 25  Shipping_Method   26174 non-null  object
 26  Payment_Method    26174 non-null  object
 27  Order_Status      26184 non-null  object
 28  Ratings           26177 non-null  float64
 29  products          26205 non-null  object
dtypes: float64(10), object(20)
memory usage: 6.0+ MB

In [ ]:
df.dropna(subset='Transaction_ID', inplace=True)
df['Customer_ID']=df['Customer_ID'].fillna('Unknown')
df['Name']=df['Name'].fillna('Unknown')
df['Email']=df['Email'].fillna('Unknown')
df['Address']=df['Address'].fillna('Unknown')

In [ ]:
df.isna().sum()

Transaction_ID       0
Customer_ID          0
Name                22
Email               23
Phone               38
Address             21
City                 0
State                1
Zipcode             24
Country              1
Age                  4
Gender              33
Income               1
Customer_Segment     1
Date                35
Year                30
Month               47
Time                30
Total_Purchases     36
Amount              26
Total_Amount        35
Product_Category    31
Product_Brand       21
Product_Type         1
Feedback            29
Shipping_Method     32
Payment_Method      32
Order_Status        22
Ratings             29
products             1
dtype: int64

In [ ]:
# converting data type for the following columns
df['Transaction_ID']= df['Transaction_ID'].astype(int)
df['Customer_ID']= df['Customer_ID'].astype(object)
df['Phone']= df['Phone'].astype(object)
df['Zipcode']= df['Zipcode'].astype(object)
df['Date']= pd.to_datetime(df['Date'])
df['Year']= pd.to_datetime(df['Year'])
df['Time']= pd.to_datetime(df['Time'])
df['Total_Purchases']= df['Total_Purchases'].astype(int)
df['Ratings']= df['Ratings'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
df['Transaction_ID'].tail()

26201    3208673.0
26202    7135420.0
26203    6903958.0
26204    5166951.0
26205    7795751.0
Name: Transaction_ID, dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26206 entries, 0 to 26205
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_ID    26181 non-null  object
 1   Customer_ID       26171 non-null  float64
 2   Name              26184 non-null  object
 3   Email             26183 non-null  object
 4   Phone             26168 non-null  float64
 5   Address           26185 non-null  object
 6   City              26206 non-null  object
 7   State             26205 non-null  object
 8   Zipcode           26182 non-null  float64
 9   Country           26205 non-null  object
 10  Age               26202 non-null  float64
 11  Gender            26173 non-null  object
 12  Income            26205 non-null  object
 13  Customer_Segment  26205 non-null  object
 14  Date              26171 non-null  object
 15  Year              26175 non-null  float64
 16  Month             26159 non-null  object
 17  Time              26176 non-null  object
 18  Total_Purchases   26170 non-null  float64
 19  Amount            26180 non-null  float64
 20  Total_Amount      26171 non-null  float64
 21  Product_Category  26175 non-null  object
 22  Product_Brand     26184 non-null  object
 23  Product_Type      26205 non-null  object
 24  Feedback          26177 non-null  object
 25  Shipping_Method   26174 non-null  object
 26  Payment_Method    26174 non-null  object
 27  Order_Status      26184 non-null  object
 28  Ratings           26177 non-null  float64
 29  products          26205 non-null  object
dtypes: float64(9), object(21)
memory usage: 6.0+ MB

In [ ]:
df.describe()

,Transaction_ID,Customer_ID,Phone,Zipcode,Age,Year,Total_Purchases,Amount,Total_Amount,Ratings
count,2.618100e+04,26171.000000,2.616800e+04,26182.000000,26202.000000,26175.000000,26170.000000,26180.000000,26171.000000,26177.000000
mean,5.520391e+06,55234.039318,5.486705e+09,50243.519785,21.561064,2023.167717,5.397669,254.063588,1376.481469,2.738167
std,2.587775e+06,26054.005159,2.600843e+09,29017.420048,6.270461,0.373622,2.867329,140.476470,1134.257513,1.390862
min,1.000043e+06,10001.000000,1.000146e+09,507.000000,18.000000,2023.000000,1.000000,10.020514,10.484693,1.000000
25%,3.264723e+06,32836.500000,3.244628e+09,25387.500000,19.000000,2023.000000,3.000000,132.980088,439.786515,1.000000
50%,5.529270e+06,55281.000000,5.456107e+09,50564.000000,19.000000,2023.000000,5.000000,253.579394,1044.216199,2.000000
75%,7.764724e+06,77883.000000,7.759624e+09,74919.000000,22.000000,2023.000000,8.000000,374.423458,2038.063839,4.000000
max,9.999995e+06,99989.000000,9.999896e+09,99941.000000,70.000000,2024.000000,10.000000,499.962580,4999.625796,5.000000